.field{
  margin-right: 30px;
}

.container_new{
 padding-top: 180px;
 width: 500px;
 margin: 0 auto;
}

.remember_me{
  margin-top: 20px;
  margin-bottom: 20px;
}

.email{
  margin-bottom: 30px;
}

.password{
  margin-bottom: 30px;
}
